.mapContainer {
	position: relative;
}
.mapContainer .loadingImg {
	position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 100;
    display: none;
	width: 32px;
	height: 32px;
	background: url('../images/loader_MAP.gif') no-repeat;
}
.mapContainer .button-container {
	position: absolute;
}
.mapContainer .full-extent-button-icon {
	background-image: url('../images/nav_fullextent.png');
}
.mapContainer .back-button-icon {
    background-image: url('../images/nav_previous.png');
}
.mapContainer .button-icon {
    background-repeat: no-repeat;
    text-align: center;
    height: 23px;
    width: 15px;
}
.mapContainer .button-container .dijitButtonNode {
	height: 15px !important;
}
.tundra .mapContainer .button-icon {
	height: 18px !important;
}
.tundra .button-container .dijitButtonContents {
	margin-left: 1px;
	margin-bottom: -2px;
}

/* agrc logo on map */
.map .logo-med, .map .logo-sm {
	background-image: url("../images/agrc_map_logo_small.png") !important;/*your logo */
	border:0;
    bottom: 5px;
    cursor: pointer;
    height: 25px !important; /* size of your image */
    position: absolute;
    right: 5px;
    width: 48px !important;/* size of your image */
    z-index: 49;
}

/* fix info window background */
.claro .infowindow .layout {
	background-color: transparent;
}