.find-route-milepost .help-block {
    display: none;
}
.find-route-milepost .has-error .help-block {
    display: inline;
}
.find-route-milepost .has-error [data-dojo-attach-point='errorMsg'] {
    display: inline-block;
}