<div class="find-generic">
    <form>
        <div class="control-group">
            <span dojoAttachPoint='fieldLabelNode'></span>
            <div class="controls">
                <div dojoAttachPoint="txt_box"
                    class="text-box" hasDownArrow="${displayDropDownArrow}"
                    dojoType="dijit.form.FilteringSelect"
                    searchattr="Value" required='false'></div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button dojoattachpoint="btn_find" class="btn" dojoattachevent="onclick:find">Zoom</button>
                <span dojoattachpoint='errorMsg' class="help-inline error">There was a problem with the last request.</span>
            </div>
        </div>
    </form>
</div>