<div>
    <label>
        <span>Route</span>
        <input type="text" data-dojo-attach-point='routeTxt'>
        <span data-dojo-attach-point='routeInvalid' class='hidden'>Required!</span>
    </label>
    <label>
        <span>Milepost</span>
        <input type="text" data-dojo-attach-point='milepostTxt'>
        <span data-dojo-attach-point="milepostInvalid" class="hidden">Required!</span>
    </label>
    <button data-dojo-attach-point="findBtn">Find</button>
    <span data-dojo-attach-point='errorMsg' class="hidden">No Match Found!</span>
</div>