<div class="find-generic">
    <form>
        <div class="control-group">
            <span data-dojo-attach-point='fieldLabelNode'>${fieldLabel}</span>
            <div class="controls">
                <div data-dojo-attach-point="txtBox"
                    class="text-box" hasDownArrow="${displayDropDownArrow}"
                    data-dojo-type="dijit.form.FilteringSelect"
                    searchattr="Value" required='false'></div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button data-dojo-attach-point="btn_find" class="btn" data-dojo-attach-event="click:find">Zoom</button>
                <span data-dojo-attach-point='errorMsg' class="help-inline error">There was a problem with the last request.</span>
            </div>
        </div>
    </form>
</div>