<div>
    <form data-dojo-attach-point='formGeocode'>
        <div class="form-group">
            <label class="control-label" for="${id}_inputEmail">Address</label>
            <input type="text" class="form-control" data-dojo-attach-point="txtAddress" id="${id}_inputAddress">
            <span class="help-block">Required!</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="${id}_input_zone">Zip or City</label>
            <input type="text" class="form-control" data-dojo-attach-point="txtZone" id="${id}_input_zone"> 
            <span class="help-block">Required!</span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" data-dojo-attach-point='btnGeocode'>Find</button> 
            <span data-dojo-attach-point='errorMsg' class='help-block'>No match found!</span>
        </div>
    </form>
</div>