<div>
    <table style="width: 100%; height: 100%">
        <tr dojoattachpoint="top">
            <td colspan="2" style="text-align: center">
                <div dojoattachpoint="policicalTitleNode" style="font-size: 1.2em; color: white;
                    font-weight: bold;">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <img src dojoattachpoint="photoUrlNode" alt="Photo" style="width: 106px; height: 144px;
                    border: none" /><br />
                <center>
                    <a href="" dojoattachpoint="websiteUrlNode" style="border: none; text-align: center">
                        Website</a></center>
            </td>
            <td>
                <label style="font-weight: bold;">
                    Name</label><br />
                <div dojoattachpoint="nameNode">
                </div>
                <br />
                <label style="font-weight: bold;">
                    District</label>
                <div dojoattachpoint="districtNode">
                </div>
                <br />
                <label style="font-weight: bold;">
                    Email</label>
                    <div>
                <a href="" dojoattachpoint="emailNode">
                </a>
                </div>
            </td>
        </tr>
        <tr dojoattachpoint="bottom">
            <td colspan="2" style="text-align: center">
                <div dojoattachpoint="partyNode" style="font-size: 1.2em; color: white; font-weight: bold;">
                </div>
            </td>
        </tr>
    </table>
</div>