<div class="trssearch">
   <div class="form-group">
    <label style="display:block">Meridian</label>
    <div class="btn-group">
        <button type="button" data-meridian="SL" class="btn btn-default" data-dojo-attach-point="slNode" data-dojo-attach-event="click: _onMeridianChange">Salt Lake
        </button>
        <button type="button" data-meridian="UB" class="btn btn-default" data-dojo-attach-point="ubNode" data-dojo-attach-event="click: _onMeridianChange">Uinta Basin
        </button>
    </div>
</div>
<div class="form-group">
    <label >Township</label>
    <select data-dojo-attach-point="townshipNode" class="form-control" data-required="true">
    </select>
</div>
<div class="form-group">
    <label >Range</label>
    <select data-dojo-attach-point="rangeNode" class="form-control" data-required="true"></select>
</div>
<div class="form-group">
    <label>Section</label>
    <select data-dojo-attach-point="sectionNode" class="form-control" data-required="${requireSection}"></select>
</div>
<button type="button" class="btn btn-primary" data-dojo-attach-event="click: zoom" data-dojo-attach-point="zoomNode">Zoom</button>
<input type="hidden" name="${formName}" data-dojo-attach-point="hiddenNode"/>
</div>