<div>
  <div class="form-group"><label>Coordinate Type</label>
    <select class="form-control" data-dojo-attach-event="change:_updateView">
      <option value="utm">UTM</option>
      <option value="dd">Decimal Degrees</option>
      <option value="dm">Degrees, Minutes</option>
      <option value="dms">Degrees, Minutes, Seconds</option>
    </select>
  </div>
  <form data-dojo-attach-point="formNode">
    <div class="hide" data-dojo-attach-point="ddNode">
      <div class="form-group">
        <label>Longitude</label>
        <div class="input-group">
         <span class="input-group-addon">-</span>
         <input type="text" name="x" data-required="true" class="form-control">
       </div>
     </div>
     <div class="form-group">
      <label>Latitude</label>
      <input type="text" name="y" data-required="true" class="form-control">
    </div>
  </div>
  <div class="show" data-dojo-attach-point="utmNode">
    <div class="form-group">
      <label>X</label>
      <input type="text" name="x" data-required="true" class="form-control">
    </div>
    <div class="form-group">
      <label>Y</label>
      <input type="text" name="y" data-required="true" class="form-control">
    </div>
  </div>
  <div class="hide" data-dojo-attach-point="dmNode">
    <div class="form-group">
      <label>Longitude</label>
      <div class="input-group">
        <span class="input-group-addon">-</span>
        <input type="text" data-required="true" name="x" class="form-control" placeholder="Degrees">
        <span class="input-group-addon">º</span>
        <input type="text" data-required="true" name="xm" class="form-control" placeholder="Minutes">
        <span class="input-group-addon">'</span>
      </div>
    </div>
    <div class="form-group">
      <label>Latitude</label>
      <div class="input-group">
        <input type="text" data-required="true" name="y" class="form-control" placeholder="Degrees">
        <span class="input-group-addon">º</span>
        <input type="text" data-required="true" name="ym" class="form-control" placeholder="Minutes">
        <span class="input-group-addon">'</span>
      </div>
    </div>
  </div>
  <div class="hide" data-dojo-attach-point="dmsNode">
    <label>Longitude</label>
    <div class="form-group">
      <div class="input-group">
       <span class="input-group-addon">-</span>
       <input type="text" data-required="true" name="x" class="form-control" placeholder="Degrees">
       <span class="input-group-addon">º</span>
       <input type="text" data-required="true" name="xm" class="form-control" placeholder="Minutes">
       <span class="input-group-addon">'</span>
       <input type="text" data-required="true" name="xs" class="form-control" placeholder="Seconds">
       <span class="input-group-addon">"</span>
     </div>
   </div>
   <div class="form-group">
    <label>Latitude</label>
    <div class="input-group">
      <input type="text" data-required="true" name="y" class="form-control" placeholder="Degrees">
      <span class="input-group-addon">º</span>
      <input type="text" data-required="true" name="ym" class="form-control" placeholder="Minutes">
      <span class="input-group-addon">'</span>
      <input type="text" data-required="true" name="ys" class="form-control" placeholder="Seconds">
      <span class="input-group-addon">"</span>
    </div>
  </div>
</div>
<div data-dojo-attach-point="errorNode"></div>
<div class="form-group">
  <button class="btn btn-primary disabled text" disabled="true" data-dojo-attach-point="zoomNode" data-dojo-attach-event="click:zoom">Zoom</button>
</div>
</form>
</div>