/* layer */
@import "layer/LayerList.css";
@import 'layer/OpacitySlider.css';

/* locate */
/*@import 'locate/FindAddress.css';*/
/*@import 'locate/FindGeneric.css';*/
@import 'locate/FindGNIS.css';
/*@import 'locate/MagicZoom.css';*/
@import 'locate/TRSsearch.css';
/*@import 'locate/ZoomToCoords.css';*/

/* map */
/*@import "map/BaseMap.css";*/
/*@import "map/BaseMapSelector.css";*/

.agrc .widgetHidden {
    /* To hide unselected panes in StackContainer etc. */
    display: none !important;
}

.agrc .widgetVisible {
    /* To show selected pane in StackContainer etc. */
    display: block !important; /* override user's display:none setting via style setting or indirectly via class */
    position: relative; /* to support setting width/height, see #2033 */
}

.agrc .clear {
    clear: both;
}

.agrc .center {
    margin-left: auto;
    margin-right: auto;
}

.agrc .leftContent {
    float: left;
    margin: 0;
    padding: 0;
    width: 30%;
}

.agrc .rightContent {
    float: left;
    margin: 0;
    padding: 0;
    width: 70%;
}

.agrc .error {
    background-color: #FFFFCC;
    background-image: url("images/warn.png");
    -moz-border-radius: 20px 20px 20px 20px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    border-collapse: collapse;
    clear: both;
    margin-bottom: 15px;
    min-height: 40px;
    padding: 10px 15px 10px 60px;
    vertical-align: middle;
    width: auto;
}
.agrc .success {
    background-color: #c9e6c4;
    background-image: url("images/ok.png");
    -moz-border-radius: 20px 20px 20px 20px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    border-collapse: collapse;
    clear: both;
    margin-bottom: 15px;
    min-height: 40px;
    padding: 10px 15px 10px 60px;
    vertical-align: middle;
    width: auto;
}
.error-msg {
	color: red;
	display: none;
	float: right;
	margin-top: 7px;
}