<div class="agrc" data-dojo-attach-point="container">
    <div class="selectorMain">
        <div class="selectorTheme-Label">
            <div data-dojo-attach-point="mapLabel" class="selectorLabel-Text">
                loading...
            </div>
            <span>▼</span>
        </div>
        <div data-dojo-attach-point="selectorContainerNode" class="selectorContainer">
            <div class="selectorCanvas">
            </div>
            <div class="selectorLens">
            </div>
            <div class="selectorView selectorXRay">
            </div>
            <div data-dojo-attach-point="mapIcon" class="selectorView custom">
            </div>
            <div class="selectorXRay">
            </div>
        </div>
    </div>
</div>