<div class="agrc" dojoattachpoint="container">
    <div class="selectorMain">
        <div class="selectorTheme-Label">
            <div dojoattachpoint="mapLabel" class="selectorLabel-Text">
                loading...
            </div>
        </div>
        <div dojoattachpoint="selectorContainerNode" class="selectorContainer">
            <div class="selectorCanvas">
            </div>
            <div class="selectorLens">
            </div>
            <div class="selectorView selectorXRay">
            </div>
            <div dojoattachpoint="mapIcon" class="selectorView custom">
            </div>
            <div class="selectorXRay">
            </div>
        </div>
    </div>
</div>