.mapContainer {
	position: relative;
}
.mapContainer .button-container {
	position: absolute;
}
.mapContainer .spinner {
    position: absolute !important;
    bottom: 28px !important;
    left: 28px !important;
    top: auto !important;
}
.mapContainer .button-icon {
    background-repeat: no-repeat;
    text-align: center;
    height: 23px;
    width: 15px;
}
.mapContainer .button-container .dijitButtonNode {
	height: 15px !important;
}
.tundra .mapContainer .button-icon {
	height: 18px !important;
}
.tundra .button-container .dijitButtonContents {
	margin-left: 1px;
	margin-bottom: -2px;
}

/* agrc logo on map */
.map .logo-med, .map .logo-sm {
	background-image: url("../images/agrc_logo.svg") !important;/*your logo */
	border:0;
    bottom: 5px;
    cursor: pointer;
    height: 23px !important; /* size of your image */
    position: absolute;
    right: 5px;
    width: 60px !important;/* size of your image */
    z-index: 49;
}

/* fix info window background */
.claro .infowindow .layout {
	background-color: transparent;
}