.mapContainer {
	position: relative;
}
.mapContainer .button-container {
	position: absolute;
}
.mapContainer .spinner {
    position: absolute !important;
    bottom: 28px !important;
    left: 28px !important;
    top: auto !important;
}
.mapContainer .button-container {
	height: 30px;
}
.mapContainer .nav-btn {
	border: 1px solid #57585A;
	font-size: 13px;
	padding: 6px 8px;
	width: 32px
}
.mapContainer .nav-btn:focus {
	outline: none !important;
	background-color: white;
	border-color: #57585A;
	box-shadow: none
}
.mapContainer .nav-btn:active {
    background-color: #d4d4d4;
}
/* agrc logo on map */
.map .logo-med, .map .logo-sm {
    background-image: linear-gradient(transparent, transparent), url("../images/agrc_logo.svg") !important;
    cursor: pointer;
    height: 23px !important;
    width: 60px !important;
    z-index: 49;
}

/* fix info window background */
.claro .infowindow .layout {
	background-color: transparent;
}
